<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="si.wolf.planea">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme">
        <activity
            android:name="si.wolf.planea.controllers.LaunchActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="si.wolf.planea.controllers.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="si.wolf.planea.controllers.AboutActivity"
            android:label="O Aplikaciji"
            android:parentActivityName="si.wolf.planea.controllers.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.wolf.planea.controllers.MainActivity" />
        </activity>
        <activity
            android:name="si.wolf.planea.controllers.SecurityActivity"
            android:label="Varnostne nastavitve"
            android:parentActivityName="si.wolf.planea.controllers.MainActivity"
            android:windowSoftInputMode="stateHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.wolf.planea.controllers.MainActivity" />
        </activity>
        <activity
            android:name="si.wolf.planea.controllers.ProfileActivity"
            android:label="Profil"
            android:parentActivityName="si.wolf.planea.controllers.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.wolf.planea.controllers.MainActivity" />
        </activity>
        <activity
            android:name="si.wolf.planea.controllers.SettingsActivity"
            android:label="Nastavitve"
            android:parentActivityName="si.wolf.planea.controllers.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.wolf.planea.controllers.MainActivity" />
        </activity>
        <activity
            android:name="si.wolf.planea.controllers.ItineraryActivity"
            android:label="Načrt poti"
            android:parentActivityName="si.wolf.planea.controllers.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.wolf.planea.controllers.MainActivity" />
        </activity>
        <activity
            android:name="si.wolf.planea.controllers.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="si.wolf.planea.controllers.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="si.wolf.planea.controllers.CheckOutActivity"
            android:label="Plačilo"
            android:parentActivityName="si.wolf.planea.controllers.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.wolf.planea.controllers.MainActivity" />
        </activity>
        <activity
            android:name="si.wolf.planea.controllers.OneWayFlightListActivity"
            android:label="Seznam enosmernih poletov"
            android:parentActivityName="si.wolf.planea.controllers.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.wolf.planea.controllers.MainActivity" />
        </activity>
        <activity
            android:name="si.wolf.planea.controllers.ReturnFlightListActivity"
            android:label="Seznam povratnih poletov"
            android:parentActivityName="si.wolf.planea.controllers.OutboundFlightListActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.wolf.planea.controllers.MainActivity" />
        </activity>
        <activity
            android:name="si.wolf.planea.controllers.OutboundFlightListActivity"
            android:label="Seznam poletov"
            android:parentActivityName="si.wolf.planea.controllers.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.wolf.planea.controllers.MainActivity" />
        </activity>
        <activity
            android:name="si.wolf.planea.controllers.FlightDetailActivity"
            android:label="Podrobnosti leta"
            android:parentActivityName="si.wolf.planea.controllers.ItineraryActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.wolf.planea.controllers.MainActivity" />
        </activity>
        <activity android:name="si.wolf.planea.controllers.EditProfileActivity"
            android:label="Urejanje Profila"
            android:parentActivityName="si.wolf.planea.controllers.ProfileActivity"
            android:windowSoftInputMode="stateHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.wolf.planea.controllers.MainActivity" />

        </activity>
        <activity android:name="si.wolf.planea.controllers.ExtraPersonActivity"
            android:label="Dodatni potniki"
            android:parentActivityName="si.wolf.planea.controllers.ProfileActivity"
            android:windowSoftInputMode="stateHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.wolf.planea.controllers.MainActivity" />

        </activity>
        <activity android:name="si.wolf.planea.controllers.ExtraPersonAddActivity"
            android:label="Dodaj Dodatnega potnika"
            android:parentActivityName="si.wolf.planea.controllers.ExtraPersonActivity"
            android:windowSoftInputMode="stateHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.wolf.planea.controllers.MainActivity" />

        </activity>
    </application>

</manifest>